@font-face{
    src: url("../assets/font/HelveticaNowMicro-Medium.ttf") !important;
    font-family: "Helvetica";
    
    
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
}

.jumbotron-fluid {
    padding: 2rem 20px !important;
    margin-bottom: 3rem !important;
   
    background-color: #e9ecef !important;
  }

.transparan {
    background-color: transparent;
    border-right: 0;
    width: 40px;
}

.transparan1 {
    background-color: transparent;
    border-left: 0;
}

.bordertext {
    border-left: 0;
    outline: 0 none !important;
}


.form-control:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.warna-burgundy{
    /*background-color: #63033A; */
    background-color: #843B69;
}

.warna1{
    color: #2F323A !important;
    font-weight: bolder;
}

.warna2{
    color: #E26D5C !important;
}

.warna3{
    color: #E39EC1 !important;
}

.warna4{
    color: #DEBAC0 !important;
}




.bg-putih{
    background-color: rgba(255, 255, 255, 1);
}

.warna-burgundy-1{
    background-color: rgba(0, 0, 0, 0.03);
}

.warna-gray{
    background-color: #F5F5F6 !important ;
}
.text-burgundy {
    color: #843B69 !important;
}

.text-biru{
    color: #0032A3;
}

.bg-biru{
    
}

.text-putih {
    color: white !important;
    opacity: 1 !important;
}

.box-event{
    
}

.box-event:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/* 12dp elevation modified*/
.z-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.tambah50px{
    margin-top: 10px;
}

.bawah{
    margin-top: 100px;
}

.bawahHome{
    margin-top: 90px;
}

.atas{
    margin-top: -50px;
}
.conten-atas{
    margin-top: 0;
}

.conten-fixed{
    margin-top: 100px;
}

.rounded5rem{
    border-radius: 5rem !important ;
}

.rounded5rem-kanan{
    border-top-right-radius: 5rem !important;
    border-bottom-right-radius: 5rem !important;
}

.about {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
}

p, td {
    letter-spacing: 1px;
}


@media (max-width: 576px) {
    .navbar-expand-sm {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
      display: none;
    }
    .navbar-expand-sm .dropup .dropdown-menu {
      top: auto;
      bottom: 100%;
    }
  }

.title{
    
    font-size: 36px;
    margin: 10px;
    position: relative;
    text-align: left;
    font-weight: bold;
}

.garis:hover {
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-weight: bold;
}

.garis-aktive, .garis:active {
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-weight: bold;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.list-event .img-list-event, .list-event .img-list-event img {
    height: 120px; 
    width: 180px
}

.list-event .tittle-list-event{
    color: #800000 !important;
    font-weight: bolder;
    border-bottom: 1px solid;
}

.list-event .list:hover{
    cursor: pointer;
    background-color: #f9f2f2;
}

.listHover:hover{
    cursor: pointer;
    background-color: #f9f2f2;
}

.list-event .img-event{
    width: 100%;
}

.title-homeEven{
    font-weight: bold;
    /* color: #800000; */
}

.showmore:hover{
    color: #8C001A;
}

#txtCariEven{
    border-radius: 5rem !important;
    
}

 #txtCariEven:focus{
     background-color:rgba(255, 255, 255, 0.1) !important;
     color: white !important;
     
 }

 #txtCariEven::placeholder {
    color: rgba(255, 255, 255, 0.75) !important;
    opacity: 1;
    content: "\f002";
  }

  .even-box{
      height: 250px;
      
  }

  .even-boxAll{
    height: 280px;
    
}

  .box-img{
      width: 100%;
      min-height: 120px;
      max-height: 120px;
  }

  .box-imgAll{
    width: 100%;
    min-height: 180px;
    max-height: 180px;
}
 
  .even-box .teks-2baris{
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.even-box .teks-2barisAll{
    width: 100%;
    height: 150px;
    overflow: hidden;
}


  .carousel-control-prev,
  .carousel-control-next {
    z-index: 20;
  }


.carousel-item {
    height: 100%;
    min-height: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-search {
    position: absolute;
    right: 0;
    top: 150px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
  }
  
  .carousel-search li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-indent: -999px;
   
  }

 

.carousel-search li::before {
    position: absolute;
    top: -10px;
    display: inline-block;
    height: 10px;
    content: "";
  }
  
  .carousel-search li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    height: 10px;
    content: "";
  }
  
  .carousel-search .active {
    background-color: #fff;
  }

  #tw:hover {
    color: #1DA1F2;
}

#fb:hover {
    color: #4267B2;
}

#ad:hover {
    color: #A4C639;
}

.ig:hover {
    background: pink;
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

  a:hover{
	
}
a, a:focus , a:hover{ 
  text-decoration: none;
  color: inherit;
}
 a:hover, .btn{
	outline:none!important;
}

.mg-2, .mg-4{
	margin-left:-20px;
}

.hearderTrasn{
    background-color: rgba(132,59,105,0.8);
}

.body { 
    background: url('https://www.ebiinc.com/hubfs/medical-background-checks.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

html,
body {
    height: 100%;
    font-family: "Helvetica" !important;
    padding: 0;
    margin: 0;
    /* background-color: white; */
   
}

.box-putih{
    background-color: white;
    border-radius: 1rem !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.bodylogin{
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-position: 0, -100px;
}

.bodypolos{
background-image: unset;
}


nav.navAwal{
    position: absolute;
}

li.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a {
    color: white;
}

#toggler {
    color: black;
}



nav.home li.nav-item .nav-link-shadow {
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-weight: 500;
    text-shadow: 2px;
    transition: 0.5s;
    text-shadow: 0px 0px 10px blue;
}

nav.home li.nav-item .nav-link-shadow:hover {
    text-shadow: 0px 0px 10px red;
}

nav.home li.nav-item .nav-link-shadow:active {
    text-shadow: 0px 0px 10px red;
}



li a i {
    margin-left: 3px;
}
nav img {
    height: auto;
}

nav a.navbar-brand {
    
}

ul.navbar-nav {
    
}

.gambarfullhome {
    height: 80%;
    width: 100%;
    top: -10px;
    position: absolute;
    background-image: url("../assets/gambar/gambarhome.jpg");
    z-index: -1;
    background-size: cover;
}

.carihome{
    text-align: center !important;
    justify-content: center;   
    height: 300px;
    padding: 100px 0;
    z-index: 2;
}
.tekshome {
    width: 40%;
    height: 300px;
    margin-left: 100px;
    padding: 200px 0;
    z-index: 2;
}

.judulhome {
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 10px blue;

}

.judulhome:hover{
    text-shadow: 0px 0px 10px red;
}

.isihome {
    font-size: 25px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 0px 10px blue;
}

.isihome:hover{
    text-shadow: 0px 0px 10px red;
}

.btn-depan{
    background-color: white;
    box-shadow: 0px 0px 10px blue;
    color: blue;
}

.btn-depan:hover{
    background-color: white;
    box-shadow: 0px 0px 10px red;
    color: red;
}

.anImgB{
    opacity: 0;
    transform: translate(-200px, 0);
    z-index: 1;
    transition: 3s;
}
.anImg1{
    opacity: 0;
    transform: translate(0, -200px);
    z-index: 1;
    transition: 2s;
}
.anImg2{
    opacity: 0;
    transform: translate(0, 500px);
    z-index: 1;
    transition: 5s;
}
.anImg3{
    opacity: 0;
    transform: translate(300px, 0);
    z-index: 1;   
    transition: 3s; 
}

.anImg4{
    opacity: 0;
    transform: translate(400px, 0);
    z-index: 1;   
    transition: 4s; 
}



.anJudul,
.anBtn {
    opacity: 0;
    transform: translate(-200px, 0);
    z-index: 1;
}

.anIsi{
    opacity: 0;
    transform: translate(0, -200px);
    z-index: 1;
}

.anJudul {
    transition: 3s;
}

.anIsi {
    transition: 2s;
}

.anBtn {
    transition: 1s;
}

.anJudul.jmuncul,
.anIsi.jmuncul,
.anBtn.jmuncul,
.anImgB.jmuncul,
.anImg1.jmuncul,
.anImg2.jmuncul,
.anImg3.jmuncul,
.anImg4.jmuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.produkkami{
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 30px;
    padding-bottom: 30px;
}
.newproduk {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: red;
    min-height: 400px;

}

.modalproduk{
    background-color: red;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}


.gambarnew {
    height: 20vw;
    object-fit: cover;
    border-radius: 5px;
}

.inputjumlah {
    text-align: center;
    width: 50px;
    display: inline-block;
    border-radius: 0;
    box-shadow: 3px 3px 5px grey;
}

.tombolpesan {
    margin-top: 40px;
}

.input-plus {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 3px 3px 5px grey;
}

.input-min {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 3px 3px 5px grey;
}

.judulsection {
    width: 300px;
}

.colnya {
    padding: 5px;
}

.kartuproduk {
    padding: 10px;
    height: 320px;
    border-radius: 10px;
    background-color: red;
    box-shadow: 3px 3px 5px grey;
    overflow: hidden;
}

.kartuproduk img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.kartuproduk h3{
    margin-top: 5px;
        width: 100%;
        text-align: center;
        cursor: pointer;
}

.kartuproduk h4 {
    width: 100%;
}

.kartuproduk h4 {
    color: black;
}

.tombolpesankecil {
    width: 88%;
    bottom: 0;
    margin-top: 0;
    margin-right: 10px;
    position: absolute;

}

.paketkami {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 215, 0, 0.85);

}

.footer {
    bottom: 0px;  
    width: 100%;
    position: absolute;
    height: 5rem !important;
    /* color: white; */
    background-color: #E9ECEF;
    
}   

.kartupaket {
    padding: 10px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px grey;
    overflow: hidden;
}

.kartupaket img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.tombolpesanpaket {
    width: 92%;
    position: absolute;
    bottom: 0px;
}

.namapaket{
    margin-top: 10px;
    color: red;
}

/* Modal Produk */
.modalprodukdialog{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.modalprodukbody{
    background-color: rgba(0, 0, 0, 0);

}

/* Utility */
.btn-danger{
    background-color: red;
}

.sidebar-dark-primary{
    background-color: #1a237e;
}


@media (max-width: 576px) {
    .col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-sm-auto {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-sm-1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-sm-2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-sm-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-sm-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-sm-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-sm-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-sm-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-sm-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-sm-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-sm-10 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-sm-11 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-sm-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
}